In [1]:
import pandas as pd

In [2]:
# Define chunk size (number of rows to read at a time)
chunk_size = 10000

# Initialize an empty list to store chunks of Dataframes
list_of_df = []

In [3]:
# Read the CSV file in chunks
for chunk in pd.read_csv("../Datasets/ZILLOW_DATA.csv", chunksize=chunk_size):
    # add each dataframe to list of dataframes
    list_of_df.append(chunk)

# Concatenate all chunks into a single DataFrame
zillow_data_df = pd.concat(list_of_df, ignore_index=True)
zillow_data_df

          indicator_id  region_id        date     value
0                 ZATT       3101  1998-01-31  338849.0
1                 ZATT       3101  1998-02-28  342993.0
2                 ZATT       3101  1998-03-31  346763.0
3                 ZATT       3101  1998-04-30  349356.0
4                 ZATT       3101  1998-05-31  351981.0
...                ...        ...         ...       ...
152020626         RSSA      78914  2022-02-28    1325.0
152020627         RSSA      67660  2022-02-28    1574.0
152020628         RSSA      73056  2022-02-28    1987.0
152020629         RSSA      85923  2022-02-28    1925.0
152020630         RSSA      67752  2022-02-28    1808.0

[152020631 rows x 4 columns]

In [4]:
# Initialize an empty list to store chunks of Dataframes
list_of_df = []

# Read the CSV file in chunks
for chunk in pd.read_csv("../Datasets/ZILLOW_INDICATORS.csv", chunksize=chunk_size):
    # add each dataframe to list of dataframes
    list_of_df.append(chunk)

# Concatenate all chunks into a single DataFrame
zillow_indicators_df = pd.concat(list_of_df, ignore_index=True)
zillow_indicators_df

,indicator_id,indicator,category
0,ZATT,ZHVI All Homes- Top Tier Time Series ($),Home values
1,ZSFH,ZHVI Single-Family Homes Time Series ($),Home values
2,ZALL,"ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)",Home values
3,ZCON,ZHVI Condo/Co-op Time Series ($),Home values
4,ZABT,ZHVI All Homes- Bottom Tier Time Series ($),Home values
5,Z2BR,ZHVI 2-Bedroom Time Series ($),Home values
6,CRAM,"Share of Listings With a Price Cut (Raw, All H...",Inventory and sales
7,ISAM,"For-Sale Inventory (Smooth, All Homes, Monthly)",Inventory and sales
8,IRSM,"For-sale Inventory (Raw, SFR only, Monthly)",Inventory and sales
9,LRSW,"Median List Price (Raw, SFR Only, Weekly View)",Inventory and sales
10,SRSM,"Median Sale Price (Raw, SFR only, Monthly)",Inventory and sales
11,SAAW,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
12,LSSW,"Median List Price (Smooth, SFR Only, Weekly View)",Inventory and sales
13,SRAM,"Median Sale Price (Raw, All Homes, Monthly)",Inventory and sales
14,NSAM,"Median Days to Pending (Smooth, All Homes, Mon...",Inventory and sales
15,RSNA,ZORI (Smoothed): All Homes Plus Multifamily Ti...,Rentals
16,RSSA,"ZORI (Smoothed, Seasonally Adjusted): All Home...",Rentals
17,Z5BR,ZHVI 5+ Bedroom Time Series ($),Home values
18,Z3BR,ZHVI 3-Bedroom Time Series ($),Home values
19,Z1BR,ZHVI 1-Bedroom Time Series ($),Home values
20,Z4BR,ZHVI 4-Bedroom Time Series ($),Home values
21,ISAW,"For-Sale Inventory (Smooth, All Homes, Weekly ...",Inventory and sales
22,SSAW,"Median Sale Price (Smooth, All Homes, Weekly V...",Inventory and sales
23,IRAM,"For-Sale Inventory (Raw, All Homes, Monthly)",Inventory and sales
24,CRSM,"Share of Listings With a Price Cut (Raw, SFR O...",Inventory and sales
25,CSSM,"Share of Listings With a Price Cut (Smooth, SF...",Inventory and sales
26,MSAM,"Mean Days to Pending (Smooth, All Homes, Monthly)",Inventory and sales
27,IRAW,"For-Sale Inventory (Raw, All Homes, Weekly View)",Inventory and sales
28,MRAM,"Mean Days to Pending (Raw, All Homes, Monthly)",Inventory and sales
29,SSSW,"Median Sale Price (Smooth, SFR only, Weekly View)",Inventory and sales
30,LSSM,"Median List Price (Smooth, SFR Only, Monthly)",Inventory and sales
31,CSAW,"Share of Listings With a Price Cut (Smooth, Al...",Inventory and sales
32,ISSM,"For-Sale Inventory (Smooth, SFR only, Monthly)",Inventory and sales
33,SASW,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
34,MRAW,"Mean Days to Pending (Raw, All Homes, Weekly V...",Inventory and sales
35,LRAM,"Median List Price (Raw, All Homes, Monthly)",Inventory and sales
36,ISSW,"For-Sale Inventory (Smooth, SFR only, Weekly V...",Inventory and sales
37,MSAW,"Mean Days to Pending (Smooth, All Homes, Weekl...",Inventory and sales
38,LSAM,"Median List Price (Smooth, All Homes, Monthly)",Inventory and sales
39,SRSW,"Median Sale Price (Raw, SFR only, Weekly View)",Inventory and sales
40,LSAW,"Median List Price (Smooth, All Homes, Weekly V...",Inventory and sales
41,NRAW,"Median Days to Pending (Raw, All Homes, Weekly...",Inventory and sales
42,NSAW,"Median Days to Pending (Smooth, All Homes, Wee...",Inventory and sales
43,CRSW,"Share of Listings With a Price Cut (Raw, SFR O...",Inventory and sales
44,SSAM,"Median Sale Price (Smooth, All Homes, Monthly)",Inventory and sales
45,IRSW,"For-sale Inventory (Raw, SFR only, Weekly View)",Inventory and sales
46,NRAM,"Median Days to Pending (Raw, All Homes, Monthly)",Inventory and sales
47,CRAW,"Share of Listings With a Price Cut (Raw, All H...",Inventory and sales
48,LRSM,"Median List Price (Raw, SFR Only, Monthly)",Inventory and sales
49,SASM,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
50,SSSM,"Median Sale Price (Smooth, SFR only, Monthly)",Inventory and sales
51,SAAM,Median Sale Price (Smooth & Seasonally Adjuste...,Inventory and sales
52,LRAW,"Median List Price (Raw, All Homes, Weekly View)",Inventory and sales
53,CSAM,"Share of Listings With a Price Cut (Smooth, Al...",Inventory and sales
54,SRAW,"Median Sale Price (Raw, All Homes, Weekly View)",Inventory and sales
55,CSSW,"Share of Listings With a Price Cut (Smooth, SF...",Inventory and sales

In [5]:
# Initialize an empty list to store chunks of Dataframes
list_of_df = []

# Read the CSV file in chunks
for chunk in pd.read_csv("../Datasets/ZILLOW_REGIONS.csv", chunksize=chunk_size):
    # add each dataframe to list of dataframes
    list_of_df.append(chunk)

# Concatenate all chunks into a single DataFrame
zillow_regions_df = pd.concat(list_of_df, ignore_index=True)
zillow_regions_df

,region_id,region_type,region
0,394401,metro,"Boone, IA; IA"
1,274772,neigh,Northeast Dallas; TX; Dallas-Fort Worth-Arling...
2,273698,neigh,"Far North; TX; Dallas-Fort Worth-Arlington, TX..."
3,275473,neigh,Southeast Dallas; TX; Dallas-Fort Worth-Arling...
4,196538,neigh,Murray Hill; NY; New York-Newark-Jersey City; ...
...,...,...,...
89300,61652,zip,"10038;NY;New York-Newark-Jersey City, NY-NJ-PA..."
89301,79935,zip,49777;MI;nan;Presque Isle;Presque Isle County
89302,62010,zip,"11109;NY;New York-Newark-Jersey City, NY-NJ-PA..."
89303,61980,zip,"11005;NY;New York-Newark-Jersey City, NY-NJ-PA..."
89304,83566,zip,58249;ND;nan;Langdon;Cavalier County

In [6]:
oh_regions = zillow_regions_df['region_id'].loc[(zillow_regions_df['region'].str.contains('OH;'))]

oh_data_df = zillow_data_df.loc[(zillow_data_df['region_id'].isin(oh_regions))]
oh_data_df.reset_index(inplace=True,drop=True)
oh_data_df

def split_data_to_csv(df):
    csv_limit = 1048000
    num_df_files = int((len(df))/csv_limit)

    #add one more file if the total files can hold all data 
    num_df_files = (num_df_files+1) if(len(df) > (num_df_files*csv_limit)) \
                                        else num_df_files
    
    print(f"files: {num_df_files} total: {num_df_files*csv_limit} and len: {len(df)}")

    for i in range(0, num_df_files):
        start_index = (i*csv_limit)
        end_index = (((i+1)*csv_limit)-1)

        print(f"{(i+1)}: {start_index} - {end_index}")
        df_file = df.iloc[start_index:end_index]
        df_file.to_csv("../Datasets/Data/Zillow_data_" + str(i+1) +".csv")

split_data_to_csv(oh_data_df)

files: 7 total: 7336000 and len: 6523082
1: 0 - 1047999
2: 1048000 - 2095999
3: 2096000 - 3143999
4: 3144000 - 4191999
5: 4192000 - 5239999
6: 5240000 - 6287999
7: 6288000 - 7335999

In [8]:
print(zillow_data_df['date'].min())
print(zillow_data_df['date'].max())

zillow_data_df.groupby(['indicator_id','region_id']).count()

1996-01-31
2023-12-09

                        date  value
indicator_id region_id
CRAM         102001       71     71
             394297       71     71
             394298       71     71
             394299       71     71
             394300       71     71
...                      ...    ...
ZSFH         845160        7      7
             845164        7      7
             845166        7      7
             845167        6      6
             845172        7      7

[649656 rows x 2 columns]