In [2]:
import pandas as pd
import requests
import json

import nasdaqdatalink

In [5]:
nasdaqdatalink.read_key(filename="../Resources/api_keys.env")
data = nasdaqdatalink.get_table('MER/F1', paginate=True)
data

,compnumber,reportid,mapcode,amount,reportdate,reporttype,auditorstatus,currency,consolidated,longname,...,city,statecode,country,zipcode,phonenumber,faxnumber,website,fye,indicator,statement
None,,,,,,,,,,,,,,,,,,,,,
0,2438,1868192544,-1802,1.048195e+01,2011-06-30,Q2,U,EUR,True,Deutsche Bank AG,...,Frankfurt am Main,None,DEU,60325,(49) 69 910 00,(49) 69 910 34 225,www.db.com,2022-12-31,Accrued Expenses Turnover,Derived
1,2438,1868216112,-1802,8.161754e+00,2011-09-30,Q3,U,EUR,True,Deutsche Bank AG,...,Frankfurt am Main,None,DEU,60325,(49) 69 910 00,(49) 69 910 34 225,www.db.com,2022-12-31,Accrued Expenses Turnover,Derived
2,2438,1885063456,-1802,1.078821e+01,2012-06-30,Q2,U,EUR,True,Deutsche Bank AG,...,Frankfurt am Main,None,DEU,60325,(49) 69 910 00,(49) 69 910 34 225,www.db.com,2022-12-31,Accrued Expenses Turnover,Derived
3,2438,1885087024,-1802,9.437545e+00,2012-09-30,Q3,U,EUR,True,Deutsche Bank AG,...,Frankfurt am Main,None,DEU,60325,(49) 69 910 00,(49) 69 910 34 225,www.db.com,2022-12-31,Accrued Expenses Turnover,Derived
4,2438,1901934112,-1802,8.755041e+00,2013-06-30,Q2,U,EUR,True,Deutsche Bank AG,...,Frankfurt am Main,None,DEU,60325,(49) 69 910 00,(49) 69 910 34 225,www.db.com,2022-12-31,Accrued Expenses Turnover,Derived
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30764,14267,1611661824,-4019,3.234000e+09,2015-06-30,Q2,U,EUR,True,Telefonica SA,...,Madrid,None,ESP,28050,(34) 91 482 87 00,(34) 91 482 3817,www.telefonica.com,2022-12-31,Direct Expenses,Income Statement
30765,14267,1617691392,-4067,7.275550e+01,2015-09-30,Q3,U,EUR,True,Telefonica SA,...,Madrid,None,ESP,28050,(34) 91 482 87 00,(34) 91 482 3817,www.telefonica.com,2022-12-31,Gross Margin,Derived
30766,14267,1617691392,-4019,3.247000e+09,2015-09-30,Q3,U,EUR,True,Telefonica SA,...,Madrid,None,ESP,28050,(34) 91 482 87 00,(34) 91 482 3817,www.telefonica.com,2022-12-31,Direct Expenses,Income Statement
30767,14267,1623720960,-4067,7.162936e+01,2015-12-31,Q4,N,EUR,True,Telefonica SA,...,Madrid,None,ESP,28050,(34) 91 482 87 00,(34) 91 482 3817,www.telefonica.com,2022-12-31,Gross Margin,Derived
30768,14267,1623720960,-4019,3.371000e+09,2015-12-31,Q4,N,EUR,True,Telefonica SA,...,Madrid,None,ESP,28050,(34) 91 482 87 00,(34) 91 482 3817,www.telefonica.com,2022-12-31,Direct Expenses,Income Statement